<h1 class="h_title h_ky">来预测你的考研成绩吧！</h1>
<div class="ad_1"><img src="/assets/ad_1.png"/></div>
<div class="btn_box"><button class="b_btn" onclick="window.location.href='/question';">开始测试</button></div>