<div class="ks_box">
  <h1>三个问题预测你的考研英语分数</h1>
  <div class="ks_q">
    <div class="ks_t">一.　你目前的英语能力：</div>
    <ul class="ks_ul">
      <li value="1">A. How are you? Fine,think you,and you?</li>
      <li value="2">B. 四级考试，轻松通过</li>
      <li value="3">C. 雅思托福，潇洒自如</li>
      <li value="4">D. 六级刷分型</li>
    </ul>
  </div>
  <div class="ks_q">
    <div class="ks_t">二.　面对考研英语考试，心情如何？</div>
    <ul class="ks_ul">
      <li value="1">A. 书到考时方恨少</li>
      <li value="2">B. 披星戴月，跪求指导</li>
      <li value="3">C. 55555~我为什么选择了考研</li>
      <li value="4">D. 信手拈来，我担心的是数学。。。</li>
    </ul>
  </div>
  <div class="ks_q">
    <div class="ks_t">三.　你学英语的态度？</div>
    <ul class="ks_ul">
      <li value="1">A. 还没开始，每日自责</li>
      <li value="2">B. 三天打渔，两天晒网</li>
      <li value="3">C. 每个月总有那么几天想起它</li>
      <li value="4">D. 悬梁刺股，日复一日</li>
    </ul>
  </div>
  <div><button class="ck_btn">查看成绩</button></div>
</div>




