<div class="exam" id="divstep1">
  <div class="q_list">
    Q1:2012“龙年春晚”开场是大型歌舞表演《'垄'上行》,在“炫官炫富组合对唱”部份中，以下错误的是：
  </div>
  <ul class="q_ul">
    <li>A.“郭美美”演唱歌曲《我爱十字红》</li>
    <li>B.尤异希演唱《我爱包包》</li>
    <li>C.黄艺博演唱《我爱五杠》</li>
    <li>D.陶玉洁演唱《我爱选美》</li>
  </ul>
  <div class="pn_btn_box">
     <button class="next_btn">下一题</button>
  </div>
</div>           

<div class="exam" id="divstep2" style="display: none;">
  <div class="q_list">
    Q2:悬疑小品《你扶不扶》的表演者是？
  </div>
  <ul class="q_ul">
    <li>A.“摔倒的老太太”</li>
    <li>B.“摔倒的老大爷”</li>
    <li>C.“摔倒的小朋友”</li>
  </ul>
  <div class="pn_btn_box">
    <button class="prev_btn">上一题</button>
    <button class="next_btn">下一题</button>
  </div>
</div>

<div class="exam" id="divstep3" style="display: none;">
  <div class="q_list">
    Q3:以下对人社部准备出台养老政策理解正确的是？
  </div>
  <ul class="q_ul">
    <li>A.100岁以后免费游长城</li>
    <li>B.110岁放宽生2胎政策</li>
    <li>C.130岁可取消一夫一妻限制</li>
    <li>D.140岁入土免费</li>
  </ul>
  <div class="pn_btn_box">
    <button class="prev_btn">上一题</button>
    <button class="next_btn">下一题</button>
  </div>
</div>

<div class="exam" id="divstep4" style="display: none;">
  <div class="q_list">
    Q1:Tonight go party,I'm a sexy girl.I sometimes good sometimes bad, this is me,you don't like me you can
    get out!以下翻译正确的是：
  </div>
  <ul class="q_ul">
    <li>A.我今天入党，我是失足妇女。我的服务有时好有时坏，这就是我。你不喜欢的话，可以随时出来。</li>
    <li>B.今晚聚会，我是一个性感女孩，我有时好有时坏，这是我，你不喜欢我，你可以出去！</li>
  </ul>
  <div class="pn_btn_box">
    <button class="prev_btn">上一题</button>
    <button class="next_btn">下一题</button>
  </div>
</div>

<div class="exam" id="divstep5" style="display: none;">
  <div class="q_list">
    Q2: Well,when there have some uneducated person scolding you,don't do anything,coz life is not fair,you must adapt to
    it,you have to know that those people could not become a prince among men,so...这句话使用错误的是：
  </div>
  <ul class="q_ul">
    <li>A.Well...So...</li>
    <li>B.not fair</li>
    <li>C.一个句子里不能有两个主语</li>
    <li>D.没有there have句型</li>
  </ul>
  <div class="pn_btn_box">
    <button class="prev_btn">上一题</button>
    <button class="next_btn">下一题</button>
  </div>
</div>

<div class="exam" id="divstep6" style="display: none;">
  <div class="q_list">
    Q1:2012,一对情侣,男生每月赚钱9000元，女生每月花钱4000元，当年房价每平米20000元，假设男生工资从来不涨，女生花销每年增长15%，房价每年增长20%,请问
    他们俩将于哪一年可以购买一套40平米的大房子？
  </div>
  <ul class="q_ul">
    <li>A.至少10年</li>
    <li>B.至少20年</li>
    <li>C.至少30年</li>
    <li>D.亲，俺是文科，不考数学</li>
  </ul>
  <div class="pn_btn_box">
    <button class="prev_btn">上一题</button>
    <button class="next_btn">下一题</button>
  </div>
</div>

<div class="jindu"><div class="jd" style="width: 0%;"></div></div>