<div class="exam">
  <div class="q_list">
    Q1: 对以下“美”式英语翻译正确的是：
Tonight go party,I'm a sexy girl.I sometimes good sometimes bad，this is me,you don't like me you can get out！
  </div>
  <ul class="q_ul">
    <li>A.我今天入党，我是失足妇女。我的服务有时好有时坏，这就是我。你不喜欢的话，可以随时出来。</li>
    <li>B.今晚聚会，我是一个性感女孩，我有时好有时坏，这是我，你不喜欢我，你可以出去！</li>
  </ul>
  <div class="pn_btn_box">
    <button class="next_btn">下一题</button>
  </div>
</div>

<div class="exam">
  <div class="q_list">
    Q2: 以下“美”式英语中使用错误语法的是：
Well,when there have some uneducated person scolding you,don't do anything ,coz life is not fair,you must adapt to it,you have to know that those people could not become a prince among men,so ...
  </div>
  <ul class="q_ul">
    <li>A.Well...So...</li>
    <li>B.not fair</li>
    <li>C.一个句子里不能有两个主语</li>
    <li>D.没有there have句型</li>
  </ul>
  <div class="pn_btn_box">
    <button class="prev_btn">上一题</button>
    <button class="next_btn">下一题</button>
  </div>
</div>
<div class="exam">
  <div class="q_list">
    Q1:2011年10月26日，某知名房地产老板在其微博上正式推出了“潘币”，2011年11月9日，潘石屹在微博上发布第二代潘币，票面淡绿色，正面有潘石屹签名，背面印着“地球乃一国，人类皆其民”。请问潘币的真实价值是：
  </div>
  <ul class="q_ul">
    <li>A.一潘=1000元/平米</li>
    <li>B.一潘=1500元/平米</li>
    <li>C.一潘=2000元/平米</li>
    <li>D.一潘=2500元/平米</li>
  </ul>
  <div class="pn_btn_box">
     <button class="prev_btn">上一题</button>
     <button class="next_btn">下一题</button>
  </div>
</div>

<div class="exam">
  <div class="q_list">
    Q2:7月21日，北京遭遇自1951年有气象记录以来最凶猛、最持久的一次强降雨，对首都造成严重灾害；令人欣慰的是，北京人在暴雨中书写了一方有难、八方支援的大爱精神，北京目前已向全市发起捐款倡议，以下描述错误的是：
  </div>
  <ul class="q_ul">
    <li>A.没有北京户口不能捐款</li>
    <li>B.在北京纳税不满五年不能捐款</li>
    <li>C.捐款资格需要摇号确定</li>
    <li>D.身份证尾号是单号的才有捐款资格</li>
  </ul>
  <div class="pn_btn_box">
    <button class="prev_btn">上一题</button>
    <button class="next_btn">下一题</button>
  </div>
</div>

 
<div class="exam">
  <div class="q_list">
    Q1:假设现在有一套房子，价格200万，假设房价每年上涨10% ，一个软件工程师每年固定能赚40万。如果他想买这套房子，不贷款，不涨工资，没有其他收入，每年不吃不喝不消费，那么他需要几年才能攒够钱买这套房子？
  </div>
  <ul class="q_ul">
    <li>A.7年</li>
    <li>B.8年</li>
    <li>C.永远也买不起</li>
    <li>D.亲，俺是文科，不考数学</li>
  </ul>
  <div class="pn_btn_box">
    <button class="prev_btn">上一题</button>
    <button class="next_btn">下一题</button>
  </div>
</div>

<div class="jindu"><div class="jd" style="width: 0%;"></div></div>