<h1 class="h_title h_ky">五个问题预测你的考研英语分数</h1>
<div class="exam">
  <div class="q_list">
    Q1: 下面这个句子的意思是：
    Not everyone experiences the kinds of severe chronic stresses Alvarez describes.
  </div>
  <ul class="q_ul">
    <li value="1">A.&nbsp;&nbsp;几乎所有人都会经历这种严重的慢性焦虑症，Alvarez说。</li>
    <li value="2">B.&nbsp;&nbsp;大部分人不会有Alvarez所描述的导致严重慢性焦虑症的经验。</li>
    <li value="3">C.&nbsp;&nbsp;绝大部分都不会经历Alvarez的严重的慢性焦虑症。</li>
    <li value="4">D.&nbsp;&nbsp;Alvarez描述的这种严重的慢性焦虑症，大多数人都很陌生。</li>
  </ul>
  <div class="pn_btn_box">
    <button class="next_btn">下一题</button>
  </div>
</div>
<div class="exam" style="display: none;">
  <div class="q_list">
    Q2: 以下10个词，你认识几个？
    software, estimation, hop, wire, grind, rampage, triple, slay, ridiculous, compulsory
  </div>
  <ul class="q_ul">
    <li value="1">A.&nbsp;&nbsp;0-2个</li>
    <li value="2">B.&nbsp;&nbsp;3-5个</li>
    <li value="3">C.&nbsp;&nbsp;6-8个</li>
    <li value="4">D.&nbsp;&nbsp;9-10个</li>
  </ul>
  <div class="pn_btn_box">
    <button class="prev_btn">上一题</button>
    <button class="next_btn">下一题</button>
  </div>
</div>

<div class="exam" style="display: none;">
  <div class="q_list">
    Q3: 你目前的英语的自我感觉？
  </div>
  <ul class="q_ul">
    <li value="1">A.&nbsp;&nbsp;How are you? Fine,think you,and you?</li>
    <li value="2">B.&nbsp;&nbsp;四级考试，轻松通过</li>
    <li value="3">C.&nbsp;&nbsp;雅思托福，潇洒自如</li>
    <li value="4">D.&nbsp;&nbsp;六级刷分型</li>
  </ul>
  <div class="pn_btn_box">
    <button class="prev_btn">上一题</button>
    <button class="next_btn">下一题</button>
  </div>
</div>
<div class="exam" style="display: none;">
  <div class="q_list">
    Q4: 面对考研英语考试，心情如何？
  </div>
  <ul class="q_ul">
    <li value="1">A.&nbsp;&nbsp;书到考时方恨少</li>
    <li value="2">B.&nbsp;&nbsp;披星戴月，跪求指导</li>
    <li value="3">C.&nbsp;&nbsp;55555~我为什么选择了考研</li>
    <li value="4">D.&nbsp;&nbsp;信手拈来，我担心的是数学。。。</li>
  </ul>
  <div class="pn_btn_box">
    <button class="prev_btn">上一题</button>
    <button class="next_btn">下一题</button>
  </div>
</div>
<div class="exam" style="display: none;">
  <div class="q_list">
    Q5: 你学英语的态度？
  </div>
  <ul class="q_ul">
    <li value="1">A.&nbsp;&nbsp;还没开始，每日自责</li>
    <li value="2">B.&nbsp;&nbsp;三天打渔，两天晒网</li>
    <li value="3">C.&nbsp;&nbsp;每个月总有那么几天想起它</li>
    <li value="4">D.&nbsp;&nbsp;悬梁刺股，日复一日</li>
  </ul>
  <div class="pn_btn_box">
    <button class="prev_btn">上一题</button>
    <button class="next_btn">下一题</button>
  </div>
</div>
<div class="jindu"><div class="jd" style="width: 0%;"></div></div>


