<div class="exam">
  <div class="con_list">
    <div class="user_info">
      <div class="user_info_img"><img src="images/u_01.jpg"></div>
      <h1>王大洪</h1>
      <span>对外贸易经济大学</span>
    </div>
    <div class="user_con">
      <span>政治</span><span class="f_50" id="politics"></span><span>英语</span><span class="f_50" id="english"></span><span>数学</span><span class="f_50" id="math"></span>
      <h1>亲~有戏哦！COME ON！</h1>
    </div>
  </div>

  <div class="con_list">
    <h1 class="yellow_h">以上都是纯属娱乐，想真正接受挑战吗？</h1>
  </div>

  <div class="con_list">
    <div class="j_btn_box"><button class="join_btn">进入考研公共主页</button></div>
  </div>

</div>