<div class="exam">
  <div class="btn_box pt_100"><button class="see_btn">查看成绩！</button></div>
  <div class="checkbox"><input name="share" type="checkbox" value="" checked/> 分享到我的主页</div>
  <div class="gz_box" id="gz_box">
    <div class="gz_mask"></div>
    <iframe name="myframe" id="myframe" scrolling="no" frameborder="0" allowtransparency="true"
            src="http://widget.renren.com/plugin/follow?page_id=600942099,601408987,601411057&header=false&fans=false&desc=false"
            style="width:332px;height:127px;"></iframe>
  </div>
</div>